############################################
# ОС
############################################

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store


############################################
# Visual Studio – локальні файли користувача
############################################

*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates


############################################
# Visual Studio – кеш
############################################

.vs/


############################################
# .NET / MSBuild – результати збірки
############################################

[Bb]in/
[Oo]bj/


############################################
# Артефакти компіляції
############################################

*.pdb
*.cache
*.tlog
*.lastbuildstate
*.buildlog


############################################
# NuGet
############################################

# Старі проєкти (packages.config)
packages/

# Артефакти пакетів
*.nupkg
*.snupkg


############################################
# Тести
############################################

TestResults/
*.trx


############################################
# Code Coverage
############################################

*.coverage
*.coveragexml


############################################
# WPF / WinForms – згенерований код
############################################

*.g.cs
*.g.i.cs


############################################
# Publish / ClickOnce
############################################

publish/
app.publish/


############################################
# Локальні конфігурації та секрети
############################################

appsettings.Development.json
appsettings.Local.json
secrets.json


############################################
# Логи
############################################

*.log


############################################
# Архіви та тимчасові файли
############################################

*.zip
*.rar
*.7z
*.bak
*.tmp


############################################
# SQL Server / LocalDB
############################################

*.mdf
*.ldf


############################################
# Сторонні IDE
############################################

# ReSharper / Rider
_ReSharper*/
*.[Rr]e[Ss]harper
.idea/


############################################
# Інше
############################################

*~
*.swp
*.swo
